<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Journal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="header-brand">
          <p class="brand">DAILY JOURNAL</p>
        </div>

        <div class="header-navigation">
          <ul class="navigation">
            <li id="home"><a href="/">Home</a></li>
            <li id="compose"><button><a href="/compose">Compose</a></button></li>
          </ul>
        </div>

        <div class="clear"></div>
      </div>
      
      <div class="blogs">